
/* 
    Created on : 29 de abr de 2021, 11:39:37
    Author     : edlcorrea
*/

.root {
    -fx-background-color: #323232;
    -fx-family-font: 'sans-serif';
}

#codeArea {
    -fx-control-inner-background: #282A36;
}

#lineCounter {
    -fx-text-fill: #525252;
    -fx-control-inner-background: #7E7F86;
    -fx-font-family: 'monospace';
}

#editorPanel {
    -fx-background-color: #7E7F86;
}

.tab-pane>*.tab-header-area>*.tab-header-background {
    -fx-background-color: #7E7F86;
}

.tab {
    -fx-background-color: #282A36;
}

.tab-label {
    -fx-text-fill: #B3B3B3;
}
.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, #212121, transparent, #212121;
    -fx-font-family: 'monospaced'; 
}


#topMenuBar {
    -fx-background-color: #323232;
}

#topMenuBar .label {
    -fx-text-fill: #B3B3B3;
}

.context-menu {
    -fx-background-color: #323232;
}

.menu-item .label{
   -fx-text-fill: #B3B3B3;
}

.menu-item:focused {
    -fx-background-color: #525252;
}

.menu-item:hover, .menu-item:focused, .menu-item:showing, .menu:hover, .menu:focused, .menu:showing{
    -fx-background-color: #525252;
}


.tool-bar {
    -fx-background-color: #212121;
}

.tool-bar >* .button {
    -fx-background-color: #424242;
    -fx-text-fill: #B3B3B3;
}

.tool-bar >* .button:hover {
    -fx-background-color: #323232;
}

.tool-bar >* .label {
    -fx-text-fill: #B3B3B3;
}

#playGlyph, #stepGlyph, #resetGlyph{
    -fx-text-fill: #B3B3B3;
}